body {
    font-family: monaco,Consolas,Lucida Console,monospace;
}

body {
    margin: 0;
    padding: 0;
    background: #000;
}

canvas {
}

div#status {
    display: none;
    position: fixed;
    left: 20px;
    top: 20px;
    width: 500px;
    height: 50px;
    color: green;
    font-size: 10px;
}
